

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Case history
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#claimant">
       Claimant
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#relationships">
        Relationships
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#payments">
        Payments
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Risks
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Referal data
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Documents
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#decision">
        Decisions
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#request">
        Requests for information
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Case history</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Request </td>
          <td class="govuk-table__cell">128307</td>
          <td class="govuk-table__cell">06 Sept 2026 12:03 PM</td>
          <td class="govuk-table__cell">Request response approved and closed</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell govuk-link" href="#past-year">View details</td>
        </tr>
       <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">1234567</td>
          <td class="govuk-table__cell">01 Jan 2026 12:03 PM</td>
          <td class="govuk-table__cell">Review Activity [DF-23050] -EX-01</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell govuk-link" href="#past-year">View details</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">098765</td>
          <td class="govuk-table__cell">14 Feb 2025 16:05 PM</td>
           <td class="govuk-table__cell">RFI sent</td>
          <td class="govuk-table__cell">Request for bank statements related to case investigation.</td>
           <td class="govuk-table__cell govuk-link" href="#past-year">View details</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">298765</td>
          <td class="govuk-table__cell">03 Jun 2023 09:18 AM</td>
           <td class="govuk-table__cell">Record a request for evidence updated</td>
          <td class="govuk-table__cell">Logged response</td>
          <td class="govuk-table__cell govuk-link" href="#past-year">View details</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claimant">
    <h2 class="govuk-heading-l">Claimant</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">18</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">16</td>
          <td class="govuk-table__cell">20</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">27</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="relationships">
    <h2 class="govuk-heading-l">Relationships</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">98</td>
          <td class="govuk-table__cell">95</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">122</td>
          <td class="govuk-table__cell">131</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">126</td>
          <td class="govuk-table__cell">142</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="payments">
    <h2 class="govuk-heading-l">Payments</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">1380</td>
          <td class="govuk-table__cell">1472</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">1129</td>
          <td class="govuk-table__cell">1083</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">1539</td>
          <td class="govuk-table__cell">1265</td>
        </tr>
      </tbody>
    </table>
  </div>


<!-- Request for info start-->
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="request">
    <h2 class="govuk-heading-l">Requests for information</h2>
    <!-- Account holder 1 start-->

            <h3 class="govuk-heading-s">Account holder details</h3>

            <ul class="govuk-list govuk-list--bullet">
              <li>Sort Code: 001122</li>
              <li>Account number: 12345678</li>
              <li>Card number: 12345678901010</li>
              <li>Building society roll number</li>
            </ul>

            <p class="govuk-body">Information we are asking for:</p>
            <p class="govuk-body">We have information that this individual was at Elie Holiday Park between 06/04/2024 to 08/04/2024. Can you confirm the lead name on the booking, how many guests, full names of guests, dates of stay, type of accommodation booked and if applicable how many bedroom in the accommodation.</p>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                Bank statements for given account from 01/01/2025 to 01/01/2026
              </li>
              <li>
                Account opening information, including any forms of ID provided
              </li>
              <li>
                Bank statements for all associated accoiunts held where the person is the named party from 01/1/2001 to 31/11/2018, including account opening information, including any forms of ID provided
              </li>
              <li>
                Account holder name, address and date of birth 
              </li>
              <li>
                Address history from 18/5/2007 to 12/10/2012
              </li>
            </ul>

            <!-- Account holder 1 end-->

            <!-- Account holder 2 start-->

            <h3 class="govuk-heading-s">Account holder details 2</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>Sort Code: 001122</li>
              <li>Account number: 12345678</li>
              <li>Card number: 12345678901010</li>
              <li>Building society roll number</li>
            </ul>

            <p class="govuk-body">Information we are asking for:</p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                Bank statements for given account from 01/01/2025 to 01/01/2026
              </li>
              <li>
                Account opening information, including any forms of ID provided
              </li>
              <li>
                Bank statements for all associated accoiunts held where the person is the named party from 01/1/2001 to 31/11/2018, including account opening information, including any forms of ID provided
              </li>
              <li>
                Account holder name, address and date of birth 
              </li>
              <li>
                Address history from 18/5/2007 to 12/10/2012
              </li>
            </ul>

            <!-- Account holder 2 end-->
    
  </div>
</div>
</div>
<!-- Request for info end-->




            