

<nav class="dwp-horizontal-navigation" aria-label="Horizontal" style="margin-bottom:25px;">
  <ul class="dwp-horizontal-navigation__list">
    <li class="dwp-horizontal-navigation__item">
      <a id="s-item-2" href="#s-item-2" class="dwp-horizontal-navigation__link">Create Request</a>
    </li>
    <li class="dwp-horizontal-navigation__item">
      <a id="s-item-3" href="#s-item-3" class="dwp-horizontal-navigation__link">Request in progress</a>
    </li>
    <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
      <a id="s-item-3" href="#s-item-3" class="dwp-horizontal-navigation__link">Request closed</a>
    </li>
  
  </ul>
</nav>

 

