

<section class="dwp-quick-reference" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
    <dt class="dwp-quick-reference__label govuk-visually-hidden">Request reference</dt>
    <dd class="dwp-quick-reference__primary">RFI-225726 Elie Holiday Park</dd>
    <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">Investigation reference</dt>
    <dd class="dwp-quick-reference__secondary">Investigation (1-187054)</dd>
  </dl>
</section>

