{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="./confirm-who-you-are.html" class="govuk-back-link">Back</a>
    

    <h1 class="govuk-heading-l">
      Get a confirmation email
    </h1>

     <form method="post">
       
       <p>We will send you a confirmation email of your response to the request for information.</p>

       <p>Your email address you provide will be stored on our system and we will use it if we need to contact you in the future.</p>


       <div class="govuk-form-group">
  <h2 class="govuk-heading-m" for="email">
    Email address
  </h2>
  <div id="email-hint" class="govuk-hint">
    For example, name@example.com
  </div>
  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
</div>


            <br>
             
          <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Confirm and send
              </button>
               <a class="govuk-link" href="./portal-start.html">Cancel</a>
           </div>
       
    
  </form>


     
    
  </div>
</div>

{% endblock %}
