{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="free-text-response.html" class="govuk-back-link">Back</a>



     <form method="post">

       <div class="govuk-form-group">
         <fieldset class="govuk-fieldset">
           <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
             <h1 class="govuk-fieldset__heading">
               Would you like an email receipt?
             </h1>
           </legend>
           <p>We'll send an email confirmation that we've received your response.</p>
           <div class="govuk-radios" data-module="govuk-radios">
             <div class="govuk-radios__item">
               <input class="govuk-radios__input" id="addEmail" name="addEmail" type="radio" value="Yes">
               <label class="govuk-label govuk-radios__label" for="addEmail">
                Yes
               </label>
             </div>
             <div class="govuk-radios__item">
               <input class="govuk-radios__input" id="addEmail-2" name="addEmail" type="radio" value="No">
               <label class="govuk-label govuk-radios__label" for="addEmail-2">
                 No
               </label>
             </div>
           </div>
         </fieldset>
       </div>





            <br>

          <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
               <a class="govuk-link" href="./portal-start.html">Cancel</a>
           </div>


  </form>




  </div>
</div>

{% endblock %}
