{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


<form method="post">

<div class="govuk-width-container">
  {% if data['addEmail'] == "Yes" %}
  <a href="add-email.html" class="govuk-back-link">Back</a>
  {% else %}
  <a href="ask-for-email.html" class="govuk-back-link">Back</a>
  {% endif %}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">
        <h1 class="govuk-heading-l">Check your answers before sending your response</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How would you like to respond
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                {% for respond in data['respondType'] %}
                <li>{{ respond }}</li>
                {% endfor %}
              </ul>
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="how-to-respond.html">Change<span class="govuk-visually-hidden"> how you would like to respond</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Uploaded files
            </dt>
            <dd class="govuk-summary-list__value">
              {% for file in data['uploadedFiles'] %}
              {{ file.name }}<br>
              {%endfor%}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="upload-files.html">Change<span class="govuk-visually-hidden"> uploaded files</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Response submitted by
            </dt>
            <dd class="govuk-summary-list__value">
             {{data['writtersName']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="free-text-response.html">Change<span class="govuk-visually-hidden"> who submitted the response</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Written response
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['writtenResponse']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="free-text-response.html">Change<span class="govuk-visually-hidden"> written response</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email receipt
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['addEmail']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="ask-for-email.html">Change<span class="govuk-visually-hidden"> email receipt</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['email']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-email.html">Change<span class="govuk-visually-hidden"> email address</span></a>
            </dd>
          </div>
        </dl>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Confirm the information you are providing
              </h2>
            </legend>


              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                  The information provided is, to the best of my knowledge, correct and complete
                </label>
              </div>
          </fieldset>
        </div>

        <form action="/form-handler" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Send response
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

</form>

{% endblock %}
