{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-l">
      Respond to a request for information
    </h1>

<p>Use this service to respond to a request for information (RFI) from an Authorised Officer. </p>

       <p class="govuk-body">You can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>upload files</li>
          <li>send a written response</li>
          <li>submit more than one response if needed</li>
        </ul>
    <p>This request is in relation to the provision of information under the Social Security Administration Act 1992 made by an authorised Officer.</p>
    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">You can find your reference number and access code in the email or letter we sent you. 
      You can respond as many times as you like using the same access code.</p>
        <br>

        <a href="./enter-ref.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
           <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>





  </div>
</div>

{% endblock %}
