{% extends "layouts/main-cfems.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full ">

   {% include '/includes/name-and-nino.html' %}

    {% include '/includes/cfem-investigator-layout.html' %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-l">Add another account</h2>

   <form method="post">

      <p>You have requested financial information about 1 account.  You can add 9 more accounts to this request.</p>

            <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
       Do you want to add another account?
      </h1>
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
         <input class="govuk-radios__input" id="add-another-yes" name="add-another" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="add-another-yes">
          Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="add-another-no" name="add-another" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="add-another-no">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

      <div class="govuk-button-group">
       <button type="submit" class="govuk-button" data-module="govuk-button">
         Save and continue
       </button>
       <a href="start-request-for-info" class="govuk-button govuk-button" style="background-color: rgb(168, 169, 169)">
         Back
       </a>
      </div>

   </form>

</div>
</div>
  </div>
<br>

{% include '/includes/case-table.html' %}



</div>

{% endblock %}
