{% extends "layouts/rfi-main-cfems.html" %}

{% set pageName="Investigation I-17054" %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   
   {% include '/includes/name-and-nino-rfi-santander.html' %}


    {% include '/includes/cfem-investigator-layout-new.html' %}

    <!-- Activity in progress start -->
     <div class="govuk-grid-row govuk-grid-row-no-margin margin-bottom-medium" style="background-color: rgb(242, 243, 245);">
      <div class="govuk-grid-column-full">
      <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m margin-top-small">Activity in progress</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Activity</th>
          <th scope="col" class="govuk-table__header app-custom-class">Assigned to</th>
          <th scope="col" class="govuk-table__header app-custom-class">Due</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">There are no activities in progress</td>
          <td class="govuk-table__cell">No data to display</td>
          <td class="govuk-table__cell">No data to display</td>
        </tr>
      </tbody>
    </table>

    </div>
    </div>
    <!-- Activity in progress end -->
     <!-- What would you like to do start -->
    <div class="govuk-grid-row govuk-grid-row-no-margin margin-bottom-medium" style="background-color: rgb(242, 243, 245);">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m padding-top-medium">What would you like to do</h2>
        <div class="govuk-grid-row ">
          <div class="govuk-grid-column-one-third">
            <ul class="govuk-list">
              <li><a class="govuk-link" href="#">Change request due date</a></li>
              <li><a class="govuk-link" href="">Cancel request</a></li>
              <li><a class="govuk-link" href="">View request letter</a></li>
              <li><a class="govuk-link" href="">Download request</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <!-- What would you like to do end -->

{% include '/includes/case-table-closed.html' %}
</div>




    
  </div>
</div>

{% endblock %}
