{% extends "layouts/rfi-main-cfems.html" %}

{% set pageName="Investigation I-17054" %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   
   {% include '/includes/name-and-nino-rfi-case.html' %}

    <div class="govuk-notification-banner" style="border-top: 0;border-bottom: 0;border-right: 0;border-left: 5px solid #28A197;background-color: #E9F5F4;padding: 0px 10px;">        
      <div>
        <div  class="govuk-notification-banner__content" style="background-color: #E9F5F4;">Request 128307 was approved and closed.</div>
      </div>
    </div>

    {% include '/includes/cfem-investigator-layout-closed.html' %}

    <!-- Activity in progress start -->
     <div class="govuk-grid-row govuk-grid-row-no-margin margin-bottom-medium" style="background-color: rgb(242, 243, 245);">
      <div class="govuk-grid-column-full">
      <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m margin-top-small">Activity in progress</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Activity</th>
          <th scope="col" class="govuk-table__header app-custom-class">Assigned to</th>
          <th scope="col" class="govuk-table__header app-custom-class">Due</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">There are no activities in progress</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

    </div>
    </div>
    <!-- Activity in progress end -->

{% include '/includes/case-table-closed.html' %}
</div>




    
  </div>
</div>

{% endblock %}
