{% extends "layouts/rfi-main-cfems.html" %}

{% set pageName="Request 128307" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   
  {% include '/includes/name-and-nino-rfi-case.html' %}
    
  {% include '/includes/cfem-investigator-layout.html' %}

 <!-- Request overview start -->
    <div class="govuk-grid-row govuk-grid-row-no-margin margin-bottom-medium" style="background-color: rgb(242, 243, 245);padding-left:15px;padding-right:15px;">
      <div class="govuk-grid-column-full">
        <div class="govuk-grid-row ">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l padding-top-medium">Approve and close</h2>

            <!-- Account holder 1 start-->

            <h3 class="govuk-heading-s">Account holder details wdjhiunw</h3>

            <ul class="govuk-list govuk-list--bullet">
              <li>Name: Mark Dowe</li>
              <li>Date of Brith: 21/02/1986</li>
              <li>Address: 5 Wholesquare, Redding, FK23BA</li>
            </ul>

            <!--<ul class="govuk-list govuk-list--bullet">
              <li>Sort Code: 001122</li>
              <li>Account number: 12345678</li>
              <li>Card number: 12345678901010</li>
              <li>Building society roll number</li>
            </ul>-->

            <p class="govuk-body">Information we are asking for:</p>
            <p class="govuk-body">We have information that this individual was at Elie Holiday Park between 06/04/2024 to 08/04/2024. Can you confirm the lead name on the booking, how many guests, full names of guests, dates of stay, type of accommodation booked and if applicable how many bedroom in the accommodation.</p>

            <!--<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                Bank statements for given account from 01/01/2025 to 01/01/2026
              </li>
              <li>
                Account opening information, including any forms of ID provided
              </li>
              <li>
                Bank statements for all associated accoiunts held where the person is the named party from 01/1/2001 to 31/11/2018, including account opening information, including any forms of ID provided
              </li>
              <li>
                Account holder name, address and date of birth 
              </li>
              <li>
                Address history from 18/5/2007 to 12/10/2012
              </li>
            </ul>-->

            <!-- Account holder 1 end-->

            <!-- Account holder 2 start-->

            <!--<h3 class="govuk-heading-s">Account holder details 2</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>Sort Code: 001122</li>
              <li>Account number: 12345678</li>
              <li>Card number: 12345678901010</li>
              <li>Building society roll number</li>
            </ul>

            <p class="govuk-body">Information we are asking for:</p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                Bank statements for given account from 01/01/2025 to 01/01/2026
              </li>
              <li>
                Account opening information, including any forms of ID provided
              </li>
              <li>
                Bank statements for all associated accoiunts held where the person is the named party from 01/1/2001 to 31/11/2018, including account opening information, including any forms of ID provided
              </li>
              <li>
                Account holder name, address and date of birth 
              </li>
              <li>
                Address history from 18/5/2007 to 12/10/2012
              </li>
            </ul>-->

            <!-- Account holder 2 end-->

            <!-- Accordion section start
            <div class="govuk-accordion margin-top-medium" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                  <h3 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      <span class="govuk-heading-s">Account holder details 2</span>
                    </span>
                  </h3>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                  <p class="govuk-body">This is the content for Writing well for the web.</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Sort Code: 001122</li>
                    <li>Account number: 12345678</li>
                    <li>Card number: 12345678901010</li>
                    <li>Building society roll number</li>
                  </ul>

                  <p class="govuk-body">Information we are asking for:</p>
                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                    <li>
                      Bank statements for given account from 01/01/2025 to 01/01/2026
                    </li>
                    <li>
                      Account opening information, including any forms of ID provided
                    </li>
                    <li>
                      Bank statements for all associated accoiunts held where the person is the named party from 01/1/2001 to 31/11/2018, including account opening information, including any forms of ID provided
                    </li>
                    <li>
                      Account holder name, address and date of birth 
                    </li>
                    <li>
                      Address history from 18/5/2007 to 12/10/2012
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            Accordion section end -->

            <!-- provider response links start -->
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible padding-top-medium">

            <h3 class="govuk-heading-s padding-top-small">Provider response</h3>

            <p><a href="rfi-dems.html" target="_blank">View the providers request response</a></p>
            
            <!-- provider response links end -->
              <form action="approve-close">
            <div class="govuk-button-group margin-top-medium">

                <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                  Approve and close
                </button>
              
              <a class="govuk-link" href="rfi-dashboard-new">Cancel</a>
            </div>
            </form>
          </div>

          <!--<div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s padding-top-medium">Provider response</h3>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          </div>-->
          
        </div>
      </div>
    </div>
  <!-- Request overview end -->

</div>

  </div>
</div>

{% endblock %}
