{% extends "layouts/rfi-main-cfems.html" %}

{% set pageName="Investigation I-17054" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   
   {% include '/includes/name-and-nino.html' %}
    
    {% include '/includes/cfem-investigator-layout-new.html' %}

    <!-- Activity in progress start -->
     <div class="govuk-grid-row govuk-grid-row-no-margin" style="background-color: rgb(242, 243, 245);">
      <div class="govuk-grid-column-full">
      <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m margin-top-small">Activity in progress</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class">Activity</th>
          <th scope="col" class="govuk-table__header app-custom-class">Assigned to</th>
          <th scope="col" class="govuk-table__header app-custom-class">Due</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Track surveillance progress</a></td>
          <td class="govuk-table__cell"><span class="investigators-avatar">JG</span>Janet Green</td>
          <td class="govuk-table__cell">7 Sept 2026</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Completed surveillance</a></td>
          <td class="govuk-table__cell"><span class="investigators-avatar">JG</span>Janet Green</td>
          <td class="govuk-table__cell">6 Sept 2026, 12:19 PM</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="#">Gather information</a></td>
          <td class="govuk-table__cell"><span class="investigators-avatar">JG</span>Janet Green</td>
          <td class="govuk-table__cell">7 Sept 2026, 13:00 PM</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">RFI (RFI-60308)</td>
          <td class="govuk-table__cell"><span class="investigators-avatar">JG</span>Janet Green</td>
          <td class="govuk-table__cell">——</td>
        </tr>
      </tbody>
    </table>

    </div>
    </div>
    <!-- Activity in progress end -->

    <!-- RFI dashboard start -->

    <div class="govuk-grid-row govuk-grid-row-no-margin margin-bottom-medium" style="margin-top:40px; border: 1px solid #b1b4b6">
    <div class="govuk-grid-column-full">

    <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m margin-top-small">Requests for information</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class">Reference</th>
        <th scope="col" class="govuk-table__header app-custom-class">View</th>
        <th scope="col" class="govuk-table__header app-custom-class">Sent</th>
        <th scope="col" class="govuk-table__header app-custom-class">Due</th>
        <th scope="col" class="govuk-table__header app-custom-class">Status</th> 
        <th scope="col" class="govuk-table__header app-custom-class">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">RFI8573</td>
        <td scope="row" class="govuk-table__cell"><a href="rfi-santander-case">View Santander request</a></td>
        <td class="govuk-table__cell">11 Sept 2026</td>
        <td class="govuk-table__cell"><span class="contextual-date-border">24 Sept 2026 - <span class="contextual-date">Overdue</span></span></td>
        <td class="govuk-table__cell">
          <span class="govuk-tag govuk-tag--grey" style="background-color:#fabb9c;">
            No response received
          </span>
        </td>
        <td class="govuk-table__cell">
          <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Send reminder</a></p>
      </td>
      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">RFI2226</td>
        <td scope="row" class="govuk-table__cell"><a href="#">View Elie Holiday Park request</a></td>
        <td class="govuk-table__cell">14 Sept 2026</td>
        <td class="govuk-table__cell">25 Sept 2026</td>
        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--green">
          Response received</span></td>
        <td class="govuk-table__cell">
          <p class="govuk-body"><a href="rfi-review-response" class="govuk-link govuk-link--no-visited-state">View request response</a></p>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">RFI532</td>
        <td scope="row" class="govuk-table__cell"><a href="#">View Bank of Scotland request</a></td>
        <td class="govuk-table__cell">14 Sept 2026</td>
        <td class="govuk-table__cell"><span>25th Oct 2026</span></td>
        <td class="govuk-table__cell">
          <span class="govuk-tag govuk-tag--grey" style="background-color:#fabb9c;display: block;margin-bottom: 10px;">
            No response received
          </span>
        </td>
        <td class="govuk-table__cell">
          <p class="govuk-body">No action required</p>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">RFI532</td>
        <td scope="row" class="govuk-table__cell"><a href="#">View Bank of Scotland request</a></td>
        <td class="govuk-table__cell">11 Sept 2026</td>
        <td class="govuk-table__cell"><span>7th Oct 2026</span></td>
        <td class="govuk-table__cell">
          <span class="govuk-tag govuk-tag--grey" style="background-color:#fabb9c;display: block;margin-bottom: 10px;">
            No response received
          </span>
          <span class="govuk-tag govuk-tag--yellow">
          Reminder 1 sent</span>
        </td>
        <td class="govuk-table__cell">
          <p class="govuk-body">No action required</p>
        </td>
      </tr>
      
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">RFI1933</td>
        <td scope="row" class="govuk-table__cell"><a href="#">View Bank of Scotland request</a></td>
        <td class="govuk-table__cell">17 Aug 2026</td>
        <td class="govuk-table__cell">28 Aug 2026</td>
        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">
          Closed</span></td>
        <td class="govuk-table__cell">
          <p class="govuk-body">No action required</p>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">RFI1523</td>
        <td scope="row" class="govuk-table__cell"><a href="#">View Tui Holiday Group request</a></td>
        <td class="govuk-table__cell">10 Aug 2026</td>
        <td class="govuk-table__cell">20 Aug 2026</td>
        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">
          Closed</span></td>
        <td class="govuk-table__cell">
          <p class="govuk-body">No action required</p>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">RFI154</td>
        <td scope="row" class="govuk-table__cell"><a href="#">View Tui Holiday Group request</a></td>
        <td class="govuk-table__cell">8 Aug 2026</td>
        <td class="govuk-table__cell">18 Aug 2026</td>
        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">
          Closed</span></td>
        <td class="govuk-table__cell">
          <p class="govuk-body">No action required</p>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">RFI1523</td>
        <td scope="row" class="govuk-table__cell"><a href="#">View Butlins Group request</a></td>
        <td class="govuk-table__cell">8 Aug 2026</td>
        <td class="govuk-table__cell">18 Aug 2026</td>
        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">
          Closed</span></td>
        <td class="govuk-table__cell">
          <p class="govuk-body">No action required</p>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">RFI1523</td>
        <td scope="row" class="govuk-table__cell"><a href="#">View Wayland Park request</a></td>
        <td class="govuk-table__cell">6 Aug 2026</td>
        <td class="govuk-table__cell">16 Aug 2026</td>
        <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--grey">
          Closed</span></td>
        <td class="govuk-table__cell">
          <p class="govuk-body">No action required</p>
        </td>
      </tr>

    </tbody>
  </table>

  </div>
  </div>
<!-- RFI dashboard end -->
 <!-- What would you like to do start -->
    <div class="govuk-grid-row govuk-grid-row-no-margin margin-bottom-medium" style="background-color: rgb(242, 243, 245);">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m padding-top-medium">What would you like to do</h2>
        <div class="govuk-grid-row ">
          <div class="govuk-grid-column-one-third">
            <ul class="govuk-list">
              <li><a class="govuk-link" href="">Add or remove vulnerability flag</a></li>
              <li><a class="govuk-link" href="">Record a request for evidence</a></li>
              <li><a class="govuk-link" href="">Add a case note</a></li>
              <li><a class="govuk-link" href="">Add or remove a flag</a></li>
              <li><a class="govuk-link" href="">Add a case note</a></li>
              <li><a class="govuk-link" href="">Record contact</a></li>
              <li><a class="govuk-link" href="">Manage people</a></li>
              <li><a class="govuk-link" href="">Set an activity</a></li>
            </ul>
          </div>

          <div class="govuk-grid-column-one-third">
            <ul class="govuk-list">
              <li><a class="govuk-link" href="">Ask for some advice</a></li>
              <li><a class="govuk-link" href="/v3/investigator/add-providor">Send a request for information</a></li>
              <li><a class="govuk-link" href="">Ask a team leader to do something</a></li>
              <li><a class="govuk-link" href="">Ask for the benefit to be suspended</a></li>
              <li><a class="govuk-link" href="">Refer for financial investigation</a></li>
            </ul>
          </div>
          <div class="govuk-grid-column-one-third">
            <ul class="govuk-list">
              <li><a class="govuk-link" href="">Plan an interview</a></li>
              <li><a class="govuk-link" href="">Request or record a decision</a></li>
              <li><a class="govuk-link" href="">Record outcome</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <!-- What would you like to do end -->

</div>

<br>

{% include '/includes/case-table.html' %}

    
  </div>
</div>

{% endblock %}
