{% extends "layouts/main-cfems.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-one-half">

     {% include '/includes/name-and-nino.html' %}
    
    {% include '/includes/cfem-investigator-layout.html' %}

    <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

   <form method="post">

           
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
       Request account information
      </h1>
    </legend>

    <p>Here are the account holder details you have entered:</p>

    <div class="govuk-inset-text">
      <p>Account name: {{data['fullName']}} <br>
      Sort Code: {{data['sortCode']}} <br>
      Account number: {{data['accountNo']}} </p>
    </div>
  
   
    <div class="govuk-form-group">

  

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Do you want bank statements for this account?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bank-state" name="bank-state" type="radio" value="Yes" aria-describedby="signIn-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bank-state-no" name="bank-state" type="radio" value="No" aria-describedby="signIn-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>
<br>

<fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Do you want account opening information for this account?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="opening-info" name="opening-info" type="radio" value="Yes" aria-describedby="signIn-item-hint">
        <label class="govuk-label govuk-radios__label" for="opening-info">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="signIn-2" name="opening-info" type="radio" value="No" aria-describedby="signIn-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>




  </fieldset>
</div>

<br>
              
            
              
 
              
      <div class="govuk-button-group">
       <button type="submit" class="govuk-button" data-module="govuk-button">
         Save and continue
       </button>
       <a href="start-request-for-info" class="govuk-button govuk-button" style="background-color: rgb(168, 169, 169)">
         Back
       </a>
      </div>

   </form>

</div>
</div>


</div>


<br>


{% include '/includes/case-table.html' %}

    
  </div>
</div>

{% endblock %}
