{% extends "layouts/main-cfems.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-one-half">

     {% include '/includes/name-and-nino.html' %}
    
    {% include '/includes/cfem-investigator-layout.html' %}

    <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

   <form method="post">

           
             <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
       Enter additional information about your request    
      </h1>
    </legend>
    <br>

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
      Would you like to request address history?
      </h1>
    </legend>
    
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
         <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        Start date
      </h1>
    </legend>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sah-day" name="sah-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sah-month" name="sah-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sah-year" name="sah-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
    <br>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        End date (optinal)
      </h1>
       <div id="dob-hint" class="govuk-hint">
      Leave blank to ask for information up to the current date. 
    </div>
    </legend>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="eah-day" name="eah-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="eah-month" name="eah-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="eah-year" name="eah-year" type="text" inputmode="numeric">
        </div>
      </div>
      </div>
      </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email">
        <label class="govuk-label govuk-radios__label" for="contact">
          No
        </label>
      </div>
     
      
 
  </fieldset>
</div>

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Would you like to request specific account details?
      </h1>
    </legend>
    <div id="countries-hint" class="govuk-hint">
      Select all that apply
    </div>
   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="holder-dets" name="holder-dets" type="checkbox" value="Account holder name">
        <label class="govuk-label govuk-checkboxes__label" for="countries">
          Account holder name
        </label>
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="holder-dets" name="holder-dets" type="checkbox" value="Date of Birth">
        <label class="govuk-label govuk-checkboxes__label" for="countries">
          Date of Birth
        </label>
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="holder-dets" name="holder-dets" type="checkbox" value="Full account number">
        <label class="govuk-label govuk-checkboxes__label" for="countries">
          Full account number
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="holder-dets" name="holder-dets" type="checkbox" value="Current registered postal address">
        <label class="govuk-label govuk-checkboxes__label" for="countries-2">
          Current registered postal address
        </label>
      </div>
      <div class="govuk-checkboxes__divider">or</div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="holder-dets" name="holder-dets" type="checkbox" value="None" data-behaviour="exclusive">
        <label class="govuk-label govuk-checkboxes__label" for="countries-5">
          None of the above
        </label>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="with-hint">
      Add any additional information about your request (optional)
    </label>
  </h1>
  <div id="with-hint-hint" class="govuk-hint">
    We will send this in a letter to the provider. Add any information you want them to know. Do not include reasons for your request. Write clearly without acronyms or abbreviations. 
  </div>
  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
  <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 2000 characters
  </div>
</div>
</fieldset>
</div>
              
      <div class="govuk-button-group">
       <button type="submit" class="govuk-button" data-module="govuk-button">
         Save and continue
       </button>
       <a href="start-request-for-info" class="govuk-button govuk-button" style="background-color: rgb(168, 169, 169)">
         Back
       </a>
      </div>

   </form>


</div>
</div>

</div>

<br>


{% include '/includes/case-table.html' %}

    
  </div>
</div>

{% endblock %}
