{% extends "layouts/main-cfems.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full ">

  {% include '/includes/name-and-nino.html' %}

    {% include '/includes/cfem-investigator-layout.html' %}




  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <h2 class="govuk-heading-m">Check your answers before creating the request</h2>



  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop">
        <h2 class="govuk-heading-m">Add provider</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Who do you want to send the request to?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['provider']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>



           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred contact details
            </dt>
            <dd class="govuk-summary-list__value">

              <p class="govuk-body">sarah.phillips@example.com</p>
              <!--or/if email  {{data['email']}} or address -->
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
        </dl>





        <h2 class="govuk-heading-m">Request</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is your request about?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['categoryType']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What financial information do you need?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['requestType']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
          </div>

        </dl>


        <h2 class="govuk-heading-m">Request details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">





          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              When was the transaction made?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['transaction-day']}}/{{data['transaction-month']}}/{{data['transaction-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What was the payment amount?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['payment-amount']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Was the payment credit or debit?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['creditType']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payment reference
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['pay-ref']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the subject's sort code?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['sortCode']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the subject's account number?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['accountNo']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          </dl>

          <div class="govuk-button-group">
          <a href="add-subject-financial-transaction" class="govuk-button govuk-button--secondary">
            Add another account
          </a>
        </div>




        <form method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Create request
          </button>
        </form>

      </div>
    </div>
  </main>

  <br>
  {% include '/includes/case-table.html' %}

  </div>
</div>
</div>
</div>

{% endblock %}
