{% extends "layouts/main-cfems.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full ">

  {% include '/includes/name-and-nino.html' %}

    {% include '/includes/cfem-investigator-layout.html' %}


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <h2 class="govuk-heading-l">Check your answers before creating your request</h2>



  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop">
        <h2 class="govuk-heading-m">Add provider</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Who do you want to send the request to?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['provider']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>



           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred contact details
            </dt>
            <dd class="govuk-summary-list__value">

              <p class="govuk-body">sarah.phillips@example.com</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m">Request</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is your request about?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['categoryType']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
          </div>

        </dl>



       <h2 class="govuk-heading-m">Account details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          {% if data['loanAccount-name'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['loanAccount-name']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
          </div>
          {% endif %}

          {% if data['dob-day'] or data['dob-month'] or data['dob-year'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of Birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['dob-day']}}/{{data['dob-month']}}/{{data['dob-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          {% endif %}
          {% if data['address-line-1'] or data['address-line-2'] or data['addressTown'] or data['addressPostcode'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['address-line-1'] %}{{data['address-line-1']}}<br>{% endif %}
              {% if data['address-line-2'] %}{{data['address-line-2']}}<br>{% endif %}
              {% if data['addressTown'] %}{{data['addressTown']}}<br>{% endif %}
              {% if data['addressPostcode'] %}{{data['addressPostcode']}}<br>{% endif %}
              </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
          {% endif %}
          {% if data['accountNo'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Account number
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['accountNo']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          {% endif %}
          {% if data['account-holder-details'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you want account holder name, address and date of birth?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['account-holder-details']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> account holder details</span></a>
            </dd>
          </div>
          {% endif %}
          {% if data['address-history'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you want the account holders address history?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['address-history']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address history</span></a>
            </dd>
          </div>
          {% endif %}
          {% if data['address-history'] == 'Yes' and (data['loan-sah-day'] or data['loan-eah-day']) %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address history date range
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['loan-sah-day']}}/{{data['loan-sah-month']}}/{{data['loan-sah-year']}} to {{data['loan-eah-day']}}/{{data['loan-eah-month']}}/{{data['loan-eah-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address history date range</span></a>
            </dd>
          </div>
          {% endif %}


          {% if data['account-info'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Requested account details
            </dt>
            <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
              {% if data['account-info'] is string %}
                <li>{{data['account-info']}}</li>
              {% else %}
               {% for item in data['account-info'] %}
                <li>{{item}}</li>
              {% endfor %}
              {% endif %}
                </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> requested account details</span></a>
            </dd>
          </div>
          {% endif %}
          {% if data['loan-info'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Request information within investigation period
            </dt>
            <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
              {% if data['loan-info'] is string %}
                <li>{{data['loan-info']}}</li>
              {% else %}
               {% for item in data['loan-info'] %}
                <li>{{item}}</li>
              {% endfor %}
              {% endif %}
                </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          {% endif %}
          {% if data['additial-loan-info'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Any additional information about your request
            </dt>
            <dd class="govuk-summary-list__value">
                {{data['additial-loan-info']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          {% endif %}


        </dl>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Add an additional account holder?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['add-another'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-another-loan">
                Change<span class="govuk-visually-hidden"> add another account</span>
              </a>
            </dd>
          </div>
        </dl>

        <form method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Create request
          </button>
        </form>

      </div>
    </div>
  </main>



  </div>
</div>
</div>  <br>
  {% include '/includes/case-table.html' %}
</div>

{% endblock %}
