{% extends "layouts/main-cfems.html" %}

{% set pageName="Home" %}

{% block content %}


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full ">

  {% include '/includes/name-and-nino.html' %}
    
    {% include '/includes/cfem-investigator-layout.html' %}


    
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <h2 class="govuk-heading-l">Check your answers before creating the request</h2>
  <!--{{data | dump
  }} -->
  

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop">
        <h2 class="govuk-heading-m">Add provider</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Who do you want to send the request to? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['provider']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

          

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred contact details
            </dt>
            <dd class="govuk-summary-list__value">

              <p class="govuk-body">sarah.phillips@example.com</p>
              <!--or/if email  {{data['email']}} or address -->
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
        </dl>

        
        <h2 class="govuk-heading-m">Request</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is your request about?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['categoryType']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What financial information do you need?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['requestType']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
          </div>
          
        </dl>

         
        <h2 class="govuk-heading-m">Account details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the subject's name? 
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['fullName']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the subject's date of birth? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['dob-day']}}/{{data['dob-month']}}/{{data['dob-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the subjects address?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['address-line-1']}}<br>{{data['address-line-2']}}<br>{{data['addressTown']}}<br>{{data['addressPostcode']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the subject's sort code? 
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['sortCode']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the subject's account number? 
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['accountNo']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the subject's card number? 
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['cardNo']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Which account holder details do you want to request?
            </dt>
            
              <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
            {% for item in data['holder-dets'] %}
 
             <li>{{item}}</li>
 
              {% endfor %} 

             </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you want account opening information for this account?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['opening-info']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you want bank statements for this account?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['bank-state']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Request for other accounts with this provider?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['other-accounts']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the start date for your request? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['start-day']}}/{{data['start-month']}}/{{data['start-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the end date for your request? 
            </dt>
            <dd class="govuk-summary-list__value">
             {{data['end-day']}}/{{data['end-month']}}/{{data['end-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Add any additional information about your request
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['more-info']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Add another subject</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you want to add another account?
            </dt>
            <dd class="govuk-summary-list__value">
             {{data['add-another']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>
        </dl>
       
        <form method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          
          </div>
    </div>
  </main>
           
               
 
              
      
       <button type="submit" class="govuk-button" data-module="govuk-button">
         Create request
       </button>
       
      

   </form>


</div>
</div>

</div>

<br>

{% include '/includes/case-table.html' %}

    
  </div>
</div>

{% endblock %}
