{% extends "layouts/main-cfems.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full ">

  {% include '/includes/name-and-nino.html' %}

    {% include '/includes/cfem-investigator-layout.html' %}


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <h2 class="govuk-heading-m">Check your answers before creating the request</h2>



  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop">
        <h2 class="govuk-heading-m">Add provider</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Who do you want to send the request to?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['provider']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>



           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred contact details
            </dt>
            <dd class="govuk-summary-list__value">

              <p class="govuk-body">sarah.phillips@example.com</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m">Request</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is your request about?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['categoryType']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
          </div>

        </dl>



       <h2 class="govuk-heading-m">Account details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the subject's name?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['loanAccount-name']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the subject's date of birth?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['dob-day']}}/{{data['dob-month']}}/{{data['dob-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the subjects address?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['address-line-1']}}<br>{{data['address-line-2']}}<br>{{data['addressTown']}}<br>{{data['addressPostcode']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the subject's sort code?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['sortCode']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the subject's account number?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['accountNo']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What infomation do you need about the account?
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet"></ul>
              {% for item in data['account-info'] | list%}

              <li>{{item}}</li>

              {% endfor %}
              {{data['loan-sah-day']}}/{{data['loan-sah-month']}}/{{data['loan-sah-year']}} to {{data['loan-eah-day']}}/{{data['loan-eah-month']}}/{{data['loan-eah-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
            </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What loan infomation do you want to request within the investigation period?
            </dt>
            <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet"></ul>
               {% for item in data['loan-info'] | list%}
                <li>{{item}}</li>
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Add any additional information about your request
            </dt>
            <dd class="govuk-summary-list__value">
                {{data['additial-loan-info']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>


        </dl>

        <div class="govuk-button-group">
          <a href="add-subject-financial-loans" class="govuk-button govuk-button--secondary">
            Add another account
          </a>
        </div>

        <form method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Create request
          </button>
        </form>

      </div>
    </div>
  </main>

  <br>
  {% include '/includes/case-table.html' %}

  </div>
</div>
</div>
</div>

{% endblock %}
