{% extends "layouts/main-cfems.html" %}

{% set pageName="Home" %}

{% block content %}


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full ">

  {% include '/includes/name-and-nino.html' %}

    {% include '/includes/cfem-investigator-layout.html' %}



  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <h2 class="govuk-heading-l">Check your answers before creating the request</h2>
  <!--{{data | dump
  }} -->


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop">
        <h2 class="govuk-heading-m">Add provider</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Who do you want to send the request to?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['provider']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>



           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred contact details
            </dt>
            <dd class="govuk-summary-list__value">

              <p class="govuk-body">sarah.phillips@example.com</p>
              <!--or/if email  {{data['email']}} or address -->
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m">Request</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is your request about?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['categoryType']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What financial information do you need?
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['requestType']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
          </div>

        </dl>


        {% for account in data['accounts'] %}
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <h2 class="govuk-heading-m">Account {{ loop.index }} details</h2>
          {% if data['accounts'] | length > 1 %}
            <p class="govuk-body"><a class="govuk-link" href="remove-account?id={{ loop.index0 }}">Remove<span class="govuk-visually-hidden"> account {{ loop.index }}</span></a></p>
          {% endif %}
        </div>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
               {{account.fullName or '-'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Date of Birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{account.dob or '-'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              {{account.address or '-'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> home address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sort code
            </dt>
            <dd class="govuk-summary-list__value">
               {{account.sortCode or '-'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Account number
            </dt>
            <dd class="govuk-summary-list__value">
               {{account.accountNo or '-'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Card number
            </dt>
            <dd class="govuk-summary-list__value">
               {{account.cardNo or '-'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Building society roll number
            </dt>
            <dd class="govuk-summary-list__value">
               {{account.rollNumber or '-'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> roll number</span></a>
            </dd>
          </div>
          {% if account.hasBankDetails %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Request bank statements for this account
            </dt>
            <dd class="govuk-summary-list__value">
               {{account.bankState or '-'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Request opening account information for this account
            </dt>
            <dd class="govuk-summary-list__value">
              {{account.openingInfo or '-'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence period</span></a>
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What other account details would you like to request?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if account.requestedDetails %}
              <ul class="govuk-list govuk-list--bullet">
              {% for item in account.requestedDetails %}
                <li>{{item}}</li>
              {% endfor %}
              </ul>
              {% else %}
              -
              {% endif %}
            </dd>
            {% if account.bankState == "Yes" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date range for requested bank statements
              </dt>
              <dd class="govuk-summary-list__value">
                {{account.statementDateRange or '-'}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date range</span></a>
              </dd>
            </div>
            {% endif %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> requested details</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Request account name, address and date of birth
            </dt>
            <dd class="govuk-summary-list__value">
               {{account.holderInfo or '-'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> account holder name, address and date of birth</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Request address history
            </dt>
            <dd class="govuk-summary-list__value">
               {{account.addressHistory or '-'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address history</span></a>
            </dd>
          </div>
          {% if account.addressHistory == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address history date range
            </dt>
            <dd class="govuk-summary-list__value">
               {{account.addressHistoryDateRange or '-'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address history date range</span></a>
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional information about the request
            </dt>
            <dd class="govuk-summary-list__value">
               {{account.additionalInfo or '-'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> additional information</span></a>
            </dd>
          </div>
        </dl>
        {% endfor %}

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Add an additional account holder?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['add-another'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-another-account">
                Change<span class="govuk-visually-hidden"> add another account</span>
              </a>
            </dd>
          </div>
        </dl>

        <form method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Create request
          </button>
        </form>

      </div>
    </div>
  </main>
  </div>
</div>
</div>
    <br>
    {% include '/includes/case-table.html' %}
</div>

{% endblock %}
