{% extends "layouts/main-cfems.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full ">


   {% include '/includes/name-and-nino.html' %}

    {% include '/includes/cfem-investigator-layout.html' %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-l">Check the request</h2>

   <form method="post">

      <h2 class="govuk-heading-m">We need some information</h2>

      <hr>

      <p>Dear {{data['provider']}}</p>

<p>We believe that you may hold information about the following subjects that will help with an investigation. Do not tell the party in question that we have contacted you — this may harm the investigation. </p>

     <p>You are legally required to respond to this request by 6 May 2026.</p>

     <p>If you do not respond, this may lead to prosecution and a financial penalty. If you cannot comply with this notice, speak to the Authorised Officer to tell us why.
     </p>

     <h2 class="govuk-heading-s">What you need to provide</h2>

<!--<p>We believe that you hold information on the following subjects that will help with our investigation. Please do not tell the party in question that we have contacted you — this may harm the investigation.</p>-->

<h2 class="govuk-heading-s">Account holder details</h2>

<p>
  {% if data['fullName'] %}Name: {{data['fullName']}}<br>{% endif %}
  {% if data['sortCode'] %}Sort Code: {{data['sortCode']}}<br>{% endif %}
  {% if data['accountNo'] %}Account number: {{data['accountNo']}}<br>{% endif %}
  {% if data['cardNo'] %}Card number: {{data['cardNo']}}<br>{% endif %}
  {% if data['rollNumber'] %}Building society roll number: {{data['rollNumber']}}{% endif %}
</p>


<h2 class="govuk-heading-s">Information we're asking for:</h2>

<p class="govuk-body">You need to provide:</p>
<ul class="govuk-list govuk-list--bullet">
  {% if data['opening-info'] == "Yes" %}<li>All opening account information, including ID</li>{% endif %}
  {% if data['bank-state'] == "Yes" %}<li>Bank statements for given account{% if data['start-day'] or data['start-month'] or data['start-year'] %} from {{data['start-day']}}/{{data['start-month']}}/{{data['start-year']}} to {{data['end-day']}}/{{data['end-month']}}/{{data['end-year']}}{% endif %}</li>{% endif %}
  {% for item in data['holder-dets'] %}{% if item and item != "None" %}<li>{{item}}</li>{% endif %}{% endfor %}
</ul>

<p>{{data['more-info']}}</p>

<h2 class="govuk-heading-s">Reference number: hpts-hahk-qtwx</h2>

     <p>You'll need this to access the online service. </p>
     <p>You do not have to send all the information at once, but you must provide all infomration by the deadline.  </p>

<h2 class="govuk-heading-s">How to respond</h2>

<p>Go to www.gov.uk/respond-to-request-for-information or search “Respond to a request for information” on GOV.UK.</p>

     <p>You do not need to create an account. You can type your answers directly or upload documents (for example, bank statements or contact records). You'll be asked for the reference number.</p>

     <h2 class="govuk-heading-s">If you need more support
     </h2>
<p class="govuk-body">Call 03794 432 433 to speak to the Authorised Officer if you:  </p>
<ul class="govuk-list govuk-list--bullet">
  <li>cannot provide the information for any reason</li>
  <li>need more time to respond</li>
  <li>cannot use the service </li>
</ul>

<h2 class="govuk-heading-s">About this request</h2>
     <p>I am authorised to send you this request for information under Section 109A of the Social Security Administration Act 1992 (as amended by the Social Security Fraud Act 2001). This is also known as an Information Notice. You can request a copy of the certificate of authority.</p>
     <p>This notice does not request, nor authorise the provision of information defined as Communications Data under section 16 of the Investigatory Powers Act 2018.</p>
<p>You may not have to provide some types of information. Go to Appendix 1 of the Code of Practice on Obtaining information [link] for exemptions, and further guidance on how DWP may handle and use information.  </p>
     <p>Yours sincerely, </p>

<p>A Brodie (1234)<br>
Authorised Officer<br>
01330 432433</p>

<br>

            <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
      Is the information in this request correct?
      </h1>
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes"  data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="add-another-no" name="add-another" type="radio" value="No" >
        <label class="govuk-label govuk-radios__label" for="contact-2">
          No
        </label>
      </div>
      <div class="govuk-radios" id="conditional-contact-2">
      </div>

      </div>
    </div>
  </fieldset>
</div>


          </div>



      <div class="govuk-button-group">
       <button type="submit" class="govuk-button" data-module="govuk-button">
         Save and continue
       </button>
       <a href="start-request-for-info" class="govuk-button govuk-button" style="background-color: rgb(168, 169, 169)">
         Back
       </a>
      </div>

   </form>

</div>
</div>

</div>

<br>

{% include '/includes/case-table.html' %}


  </div>
</div>

{% endblock %}
