{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="./confirm-who-you-are.html" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l">
     Send your response
    </h1>
    <p>You can upload files to respond to this request. This could be an official document, or another file in the format of your choice. For example, a Word document showing the information we asked for.<p>You do not have to send all the information we've asked for at once. You can send more than one response to a request. </p>


    <div class="govuk-form-group">
  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="file-upload-1">
         Upload files
      </label>
    </h1>

     <p class="govuk-body">We accept the following file types: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>documents: PDF, DOCX, CSV, XLS, XLSX </li>
          <li> images: JPG, JPEG, PNG, BMP, TIFF </li>
        </ul>
        
 <!--<div id="file-upload-1-hint" class="govuk-hint">
      30MB is the maximum file size for each file.
    </div>-->
    <p> 30MB is the maximum file size for each file. </p>
    
    <div class="govuk-drop-zone" data-module="govuk-file-upload">
      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">
    </div>
  </div>

</div>

   

     <form method="post">

             
          <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Upload file
              </button>
               <a class="govuk-link" href="./portal-start.html">Cancel</a>
           </div>
       
    
  </form>


     
    
  </div>
</div>

{% endblock %}
