{% extends "layouts/main-cfems.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full ">

    <section class="dwp-quick-reference" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
    <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
    <dd class="dwp-quick-reference__primary">I-187054 John Smith</dd>
    <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
    <dd class="dwp-quick-reference__secondary">NI number QQ190226A</dd>
  </dl>
</section>


    <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
  <ul class="dwp-horizontal-navigation__list">
    <li class="dwp-horizontal-navigation__item">
      <a id="s-item-1" href="#s-item-1" class="dwp-horizontal-navigation__link" aria-current="true">Inital review</a>
    </li>
    <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
      <a id="s-item-2" href="#s-item-2" class="dwp-horizontal-navigation__link">Build case</a>
    </li>
    <li class="dwp-horizontal-navigation__item">
      <a id="s-item-3" href="#s-item-3" class="dwp-horizontal-navigation__link">Decision</a>
    </li>
     <li class="dwp-horizontal-navigation__item">
      <a id="s-item-3" href="#s-item-3" class="dwp-horizontal-navigation__link">Close case</a>
    </li>
  </ul>
</nav>

<br>
<div style="background-color: rgb(242, 243, 245);  padding: 20px 30px 12px 30px;">

  
    
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">


   <form method="post">

           
             <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
       What is your request about?      
      </h1>
    </legend>
   
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="categoryType" name="categoryType" type="radio" value="finance">
        <label class="govuk-label govuk-radios__label" for="categoryType">
          Finance
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="categoryType-2" name="categoryType" type="radio" value="education">
        <label class="govuk-label govuk-radios__label" for="categoryType-2">
          Educational
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="categoryType-3" name="categoryType" type="radio" value="employment">
        <label class="govuk-label govuk-radios__label" for="categoryType-3">
          Employment
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="categoryType-4" name="categoryType" type="radio" value="travel">
        <label class="govuk-label govuk-radios__label" for="categoryType-4">
          Travel
        </label>
      </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="categoryType-6" name="categoryType" type="radio" value="insurance">
        <label class="govuk-label govuk-radios__label" for="categoryType-5">
          Insurance
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="categoryType-6" name="categoryType" type="radio" value="utility">
        <label class="govuk-label govuk-radios__label" for="categoryType-6">
          Utilities
        </label>
      </div>
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="categoryType-7" name="categoryType" type="radio" value="other">
        <label class="govuk-label govuk-radios__label" for="categoryType-7">
          My request is about something else
        </label>
      </div>
    </div>
  </fieldset>
</div>
              
            
              
 
              
      <div class="govuk-button-group">
       <button type="submit" class="govuk-button" data-module="govuk-button">
         Save and continue
       </button>
       <a href="start-request-for-info" class="govuk-button govuk-button" style="background-color: rgb(168, 169, 169)">
         Back
       </a>
      </div>

   </form>


</div>
</div>

</div>

<br>


{% include '/includes/case-table.html' %}

    
  </div>
</div>

{% endblock %}
