{% extends "layouts/main-cfems.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full ">

    <section class="dwp-quick-reference" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
    <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
    <dd class="dwp-quick-reference__primary">I-187054 John Smith</dd>
    <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
    <dd class="dwp-quick-reference__secondary">NI number QQ190226A</dd>
  </dl>
</section>

    <nav class="dwp-horizontal-navigation" aria-label="Horizontal">
  <ul class="dwp-horizontal-navigation__list">
    <li class="dwp-horizontal-navigation__item dwp-horizontal-navigation__item--selected">
      <a id="s-item-1" href="#s-item-1" class="dwp-horizontal-navigation__link" aria-current="true">Inital review</a>
    </li>
    <li class="dwp-horizontal-navigation__item">
      <a id="s-item-2" href="#s-item-2" class="dwp-horizontal-navigation__link">Build case</a>
    </li>
    <li class="dwp-horizontal-navigation__item">
      <a id="s-item-3" href="#s-item-3" class="dwp-horizontal-navigation__link">Decision</a>
    </li>
     <li class="dwp-horizontal-navigation__item">
      <a id="s-item-3" href="#s-item-3" class="dwp-horizontal-navigation__link">Close case</a>
    </li>
  </ul>
</nav>

<br>
<div style="background-color: rgb(204, 203, 203); padding: 12px;">
    <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Activites in progress</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Activity</th>
      <th scope="col" class="govuk-table__header">Assigned to</th>
      <th scope="col" class="govuk-table__header">Due</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">There are no activites in progress</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"></td>
    </tr>
    
  </tbody>
</table>
</div>

<br>

<div class="govuk-!-margin-bottom-6"style="background-color: rgb(204, 203, 203); padding: 0px 12px 12px 12px;">
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-padding-0">
    <h2 class="govuk-heading-m"> What would you like to do?</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
          <li><a class="govuk-link" href="">Add or remove vulnerability flag</a></li>
          <li><a class="govuk-link" href="">Record a request for evidence</a></li>
          <li><a class="govuk-link" href="">Add a case note</a></li>
          <li><a class="govuk-link" href="">Add or remove a flag</a></li>
          <li><a class="govuk-link" href="">Add a case note</a></li>
          <li><a class="govuk-link" href="">Record contact</a></li>
          <li><a class="govuk-link" href="">Manage people</a></li>
          <li><a class="govuk-link" href="">Set an activity</a></li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
          <li><a class="govuk-link" href="">Ask for some advice</a></li>
          <li><a class="govuk-link" href="/v1/investigator/Start-request-for-info">Request for information (RFI)</a></li>
          <li><a class="govuk-link" href="">Ask a team leader to do something</a></li>
          <li><a class="govuk-link" href="">Ask fr benefit to be suspended</a></li>
          <li><a class="govuk-link" href="">Refer for financial livestigation</a></li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
          <li><a class="govuk-link" href="">Plan an interview</a></li>
          <li><a class="govuk-link" href="">Request or record a decision</a></li>
          <li><a class="govuk-link" href="">Record outcome</a></li>
        </ul>
       </div>
       </div>
    </main>
  </div>
</div>


<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Case history
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
       Claimant
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Relationships
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Payments
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Risks
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Referal data
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Documents
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Decisions
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Case history</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Staff no.</th>
          <th scope="col" class="govuk-table__header">Create date time</th>
           <th scope="col" class="govuk-table__header">type</th>
            <th scope="col" class="govuk-table__header">Note</th>
             <th scope="col" class="govuk-table__header">Reference</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell govuk-link" href="#past-year">View details</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">0</td>
           <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell">0</td>
           <td class="govuk-table__cell govuk-link" href="#past-year">View details</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">0</td>
           <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell govuk-link" href="#past-year">View details</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Past week</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">18</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">16</td>
          <td class="govuk-table__cell">20</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">27</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-l">Past month</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">98</td>
          <td class="govuk-table__cell">95</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">122</td>
          <td class="govuk-table__cell">131</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">126</td>
          <td class="govuk-table__cell">142</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    <h2 class="govuk-heading-l">Past year</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">1380</td>
          <td class="govuk-table__cell">1472</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">1129</td>
          <td class="govuk-table__cell">1083</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">1539</td>
          <td class="govuk-table__cell">1265</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

    
  </div>
</div>

{% endblock %}
