{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="./confirm-who-you-are.html" class="govuk-back-link">Back</a>
    

    <h1 class="govuk-heading-l">
      What is the name of the subject in the request?
    </h1>

     <form method="post">
       
       <p>You can find this in your email or letter</p>

          <div class="govuk-form-group">
             
              <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="eventName" type="text">
            </div>

            <br>
             
          <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
               <a class="govuk-link" href="./portal-start.html">Cancel</a>
           </div>
       
    
  </form>


     
    
  </div>
</div>

{% endblock %}
