{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Response sent 
          </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>
        </div>
        <p class="govuk-body">Your response has been sent to the Authorised Officer. </p>
        <h2 class="govuk-heading-m">Download a receipt</h2>
        <p>This is the only time you can download a receipt for the files you uploaded. </p>
        <p class="govuk-body">
          <a href="#" class="govuk-link">Download your receipt (PDF, 1MB)</a> 
        </p>

        <p class="govuk-body">
          If you use assistive software, you can <a href="#" class="govuk-link">download an accessible version of your receipt (HTML, 1MB).</a> 
        </p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          We will contact you if we need any more information about your response. 
        </p>
         <p class="govuk-body">
          If you have not sent all the information we asked for, you can <a href="./portal-start.html" class="govuk-link">use the service to send another response.</a> 
        </p>
       
      </div>
    </div>
  </main>
</div>


     
    
  </div>
</div>

{% endblock %}
