{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="./portal-start.html" class="govuk-back-link">Back</a>
    

    <h1 class="govuk-heading-l">
      Enter your reference number
    </h1>

     <form method="post">

    <p>Use this service to respond to a Request for Information (RFI).
      
    <p>You can find your reference number in your email or letter. It has 10 characters and contains letters and numbers.</p>

          <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="event-name">
                  What is your reference number?
                </label>
              </h1>
              <input class="govuk-input govuk-!-width-one-half" id="event-name" name="eventName" type="text">
            </div>

            <br>
             
          <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
               <a class="govuk-link" href="./portal-start.html">Cancel</a>
           </div>
       
    
  </form>


     
    
  </div>
</div>

{% endblock %}
