{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="./confirm-who-you-are.html" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l">
     Send your response
    </h1>
    <p>You do not have to send all the information we've asked for at once. You can send more than one response to a request. </p>


    <div class="govuk-form-group">
  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="file-upload-1">
         Upload files
      </label>
    </h1>
    <div id="file-upload-1-hint" class="govuk-hint">
      30MB is the maximum file size for each file. We do not accept MP4 files. 
    </div>
    <div class="govuk-drop-zone" data-module="govuk-file-upload">
      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">
    </div>
  </div>
 <br>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Upload another file
    </button>
 

 <p class="govuk-body govuk-!-display-none" id="refreshPageProgress"><a href="#" class="govuk-link">Refresh page to update file upload progress</a></p>



    <table class="govuk-table">
  <!--<caption class="govuk-table__caption govuk-table__caption--m"></caption>-->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">File name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Size</th>
      <th scope="col" class="govuk-table__header app-custom-class">Status</th>
      <th scope="col" class="govuk-table__header app-custom-class">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
          <a class="govuk-link" href="#">subject.name.pdf</a></th>
      <td class="govuk-table__cell">2 MB</td>
      <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--green">
          Uploaded
          </strong></td>
      <td class="govuk-table__cell"><a class="govuk-link" href="./upload-files.html">Delete</a></td>
    </tr>
  </tbody>
</table>
<br>

     <form method="post">

             
          <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Send response
              </button>
               <a class="govuk-link" href="./portal-start.html">Cancel</a>
           </div>
       
    
  </form>


     
    
  </div>
</div>

{% endblock %}
