{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
<a href="index.html" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      CFEM's Design tools
    </h1>
    
    <p class="govuk-body">
         <a href="cfems-layout-instructions.html" class="">Main cfems layout</a>
     </p>
 
     <p class="govuk-body">
        <a href="cfems-body-instructions.html" class="govuk-link">Page body with tabs</a>
     </p>

     <p class="govuk-body">
        <a href="cfems-table-instructions.html" class="govuk-link">CFEMs table</a>
     </p>
    
  </div>
</div>

{% endblock %}
