{% extends "layouts/main-cfems.html" %}

{% set pageName="Home" %}

{% block content %}
<a href="cfems-design-tools.html" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
     Main cfems layout
    </h1>
    
    
    <p class="govuk-body">
         On this page we have the CFEMs prototype banner, this can be found in the layouts folder in this prototype labled main-cfems.</p>

       <p>  This is using a dwp style header found <a href="https://design-system.dwp.gov.uk/components/internal-service-header" class="govuk-link">here</a> and expanding the width style. </p>
     </p>
 
     
    
  </div>
</div>

{% endblock %}
