{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}


{% block header %}
<style>.govuk-width-container { min-width: 1280px  }</style>


    <header data-module="govuk-header" class="dwp-header">
  <div class="dwp-header__content govuk-!-margin-left-6">
    <div class="dwp-header__service-name">
      <a href="#" class="dwp-header__link">Counter Fraud and Error Managment System</a>
    </div>
     <div class="dwp-header__service-action">
      <a href="#" class="dwp-header__link govuk-!-margin-right-6">Accessibility statement</a>
    </div>
</div>
</header>

 <header data-module="govuk-header" class="dwp-header" style="background-color:grey;">
  <div class="dwp-header__content govuk-!-margin-left-6">
    <nav style="background-color:grey;" class="dwp-header-navigation"
      aria-label="Primary">
      <ul id="navigation" class="dwp-header-navigation__list">
        <li class="dwp-header-navigation__item">
          <a
            href="#">
            My activities
          </a>
        </li>
        <li class="dwp-header-navigation__item">
          <a
            href="#">
            My cases
          </a>
        </li>
        <li class="dwp-header-navigation__item">
          <a
            href="#">
            Recent
          </a>
        </li>
        <li class="dwp-header-navigation__item">
          <a
            href="#">
            Search
          </a>
        </li>

      </ul>
    </nav>
  </div>
</header>

{% endblock %}
